VITE_API_URL=http://localhost:5000/api
VITE_FIREBASE_API_KEY="AIzaSyBvOrOefGsePBcZJVADUkojWQM1fpjzSJk"
VITE_FIREBASE_AUTH_DOMAIN="evolis-ba4f1.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="evolis-ba4f1"
VITE_FIREBASE_STORAGE_BUCKET="evolis-ba4f1.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="803887112521"
VITE_FIREBASE_APP_ID="1:803887112521:web:11fd1be15859d371caba98"
VITE_FIREBASE_MEASUREMENT_ID="G-M99HN1RFXW"

